.control-label {
    width: 14em;
}
.col-md-8, .col-md-10, .col-md-4, .col-md-1, .col-md-3 {
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding-right:1em;
}
.row {
    display: table;
    width: 100%;
}
.col-md-6 {
    display:block;
}

.table-secondary.tablaResumen th {
    padding: 0em 1em 0em 1em;
    text-align: left;
    height:0.5em;
}

.table-secondary td {
    text-align: left;
    color: #ccc;
}

.tablaMantenedores th {
    height:3em;
}