.control-label {
    width: 14em;
}
.col-md-8, .col-md-10, .col-md-4, .col-md-1, .col-md-3 {
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding-right:1em;
}
.row {
    display: table;
    width: 100%;
}
.col-md-6 {
    display:block;
}

.control-label.col-md-4 {
    border:0;
}
.col-md-8 {
    color: #ccc;
}
a {
    color:#017DC3;
}
.table-secondary.tablaResumen th {
    padding: 0em 1em 0em 1em;
    text-align: left;
}

.table-secondary tr:nth-child(1) th:nth-child(3){
    border-right:0em !important;
}

.table-secondary tr:nth-child(3) th:nth-child(6){
    border-right:0em !important;
}
        
.table-secondary td {
    text-align: left;
    color: #ccc;
}

#map1 {
    min-height:320px;
    min-width: 2.58em;
    max-width: 106.58em;
    margin: 0 auto;
}
.thumbnail {
    margin-bottom:0.5em;
}
.col-md-2 {
    display:none;
}
.gmnoprint {
    display:none;
}
.gmnoscreen {
    display:none;
}